<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chhaya_pc.billscanner">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/billscanner_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/billscanner_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CamActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".FixedSpendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpendDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpenditureDetailsLayout"
            android:screenOrientation="portrait" />
        <activity android:name=".MonthlyDetailsActivity" />
        <activity android:name=".SearchByDateActivity" />
        <activity android:name=".ContactsActivity"></activity>
    </application>

</manifest>